.container{
    display: flex;
}

.navbar{
    width: 210px; 
}

.sidebar .navbar {
    margin: 1.6rem; 
    padding-bottom: 70%; 
}

.navbar a {
    display: block;
    color: #fff;
    font-size: 14.4px; 
    font-weight: 500;
    padding: 6.4px 9.6px;
    border-radius: 4.8px;
    transition: background 0.3s;
}

/* Gaya untuk Container Tabel */
.Tabel-Jadwal {
    padding: 1.6rem; 
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 3.2px 6.4px rgba(0,0,0,0.1);
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
}

.Tabel-Jadwal h1 {
    font-size: 28px;
    margin-bottom: 0.8rem;
    color: #1E466E;
}
.Tabel-Jadwal h3 {
    font-size: 14.4px; 
    margin-bottom: 0.4rem;
    color: #555;
}

/* Gaya Tabel */
.Tabel-Jadwal table {
    border-collapse: collapse;
    margin-top: 1.6rem;
}
.Tabel-Jadwal th, 
.Tabel-Jadwal td {
    padding: 9.6px; 
    text-align: left;
    border: 1px solid #ddd;
    font-size: 12px;
}
.Tabel-Jadwal th {
    background-color: #1E466E;
    font-weight: 600;
    color: white;
}
.Tabel-Jadwal tr:nth-child(even) {
    background-color: #e3e3e3;
}